</div>
<footer>
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="five wide column">
          <h3 class="ui inverted header">About</h3>
          <div class="ui inverted link list">
            <a href="/" class="item" >Главная страница</a>
          </div>
          © 2021  - Все права защищены.
        </div>
      </div>
    </div>
  </div>
</footer>


</body>
</html>