<%- include ('partials/header') -%>

<div class="ui fixed interted">
    <div class="ui main container ">
        <form  class="login" action="/login" method="post">
            <input type="text" placeholder="Имя" name="username" class="input">
            <input type="password" placeholder="Пароль" name="password" class="input">
            <input type="submit" value="Войти" class="input">
            <a href="/register" type="submit" value="Регистрация" class="btn btn-lg btn-primary btn-block ">Регестрация</a>
    </div>
</div>

<%- include ('partials/footer') -%>